img{max-width: 100%;}
.emo-btn{padding: 10px 15px;border-radius: 10px;cursor: pointer;}
.emo-btn.primary{background: #0d6efd;color: #fff; border:#0d6efd;}
.emo-btn.primary:hover{background: #0b5ed7; border:#0a58ca;}
.emo-btn.danger{background: #dc3545;color: #fff; border:#dc3545}
.emo-btn.danger:hover{background: #bb2d3b; border:#b02a37;}
.emo-btn.success{background: #198754;color: #fff; border:#198754}
.emo-btn.success:hover{background: #157347; border:#146c43;}
.emo-btn.dark{background: #6c757d;color: #fff; border:#6c757d}
.emo-btn.dark:hover{background: #5c636a; border:#565e64;}
.popup-screen-locker
{display: none; position: fixed; top: 0; left: 0; height: 100vh; width: 100vw; background-color:#00000061; z-index: 10000;}

.popup-editor-container{
    display: none; width: 500px; margin: 50px auto; background-color: #fff;
}

.btn-container{display: flex; margin: 10px auto; width: 100%; justify-content: space-evenly; padding: 20px 0;}